//Importing assets
@import '../../styles/abstract/global';
@import '../../styles/base/variables';
@import '../../styles/mixins/mixins';

nav{
    min-height: 10vh;
    width: 100%;
    padding: 0 5rem;
    @include flex(row, space-between, center);
    background: $black;
    position: relative;
}

.nav-svg{
    width: 25px;
}

.nav-routes{
    display: block;
    background: $black;
    width: 100%;
    min-height: 90vh;
    position: absolute;
    top: 10vh;
    left: 0;
    transform: translateX(-100%);
    transition: $transition;
    @include flex(column, space-evenly, center);
    &.active{
        transform: translateX(0%);
    }
    li{
        width: 40%;
        @include flex(row, flex-start, center);
        span{
            padding-left: 2rem;
            color: $white;
        }
    }
}

@media only screen and (max-width: 768px){
    nav{
        padding: 0 1rem;
    }
}