//Base files
@import '../../styles/abstract/global';
@import '../../styles/base/variables';
@import '../../styles/mixins/mixins';

.signup-page{
    min-height: 90vh;
    width: 100%;
    background: $black;
    color: $white;
    @include flex(column, center, center)
}

form{
    width: 55%;
    min-height: 250px;
    @include flex(column, space-evenly, stretch);
}

